{% extends 'base.html' %}

{% block titulo %}MonitorTM{% endblock %}

{% block encabezado %}Monitoreo de servidores{% endblock %}

{% block contenido %}
{% if errores %}
<div class="alert alert-danger">
  <strong>ERROR</strong> {{ errores }}  
</div>
{% endif %}
<table class="table table-striped table-dark">
	<thead>
	<tr>
	  <th scope="col">URL Servidor</th>
	  <th scope="col">CPU</th>
	  <th scope="col">MEMORIA</th>
	  <th scope="col">DISCO</th>
	  <th scope="col">Terminal</th>
	</tr>
	</thead>
	<tbody>
	<tr>
{% for servidor in lista_datos %}

{% if servidor.errores %}
<div class="alert alert-danger">
  <strong>ERROR</strong> {{ servidor.errores }}
</div>
{% endif %}

	  <th scope="row"> {{ servidor.url }} </td>
	  <td> {{ servidor.cpu }} </td>
	  <td> {{ servidor.memoria }} </td>
	  <td> {{ servidor.disco }} </td>
	  <td><a href= {{ servidor.ttyd }} target="_blank" class="btn btn-sm btn-block btn-dark">Terminal</a> </td>
	</tr>
	</tbody>

{% endfor %}
</table>



{% endblock %}
